<template>
    <div class="container">
      <img class="mx-auto d-block" alt="Vue logo" src="../assets/logo2.jpg">
      <div class="card">
        <div class="card-body">
          <div>
            <a href="/login"><button class="btn btn-dark btn-block">Login</button></a>
            <a href="/cadastro"><button class="btn btn-dark btn-block mt-2">Cadastrar</button></a>
            <button class="btn btn-outline-dark btn-block mt-2"><img src="../assets/logoface.png" style="max-width: 47px">Sign in winth Facebook</button>
            <button class="btn btn-outline-dark btn-block mt-2"><img src="../assets/logogoogle.png" style="max-width: 35px">Sign in Winth Google+</button>       
          </div>
        </div>
      </div>
    </div>
       
</template>

<script>
export default {
    name: 'CadastroLogin'
}
</script>
    
<style>
button {
  border-radius: 25px;
}
input {
  border-radius: 25px;
}
.card {
  border-radius: 15px;
}
</style>