<template>
  <div class="container">
    <img class="mx-auto d-block" alt="Vue logo" src="../assets/logo.jpg">
    <div class="card">
      <div class="card-body">
        <form>
          <label for="email">Digite seu e-mail</label>
          <input type="text" id="email" class="form-control">
          <label class="mt-3" for="senha">Digite sua senha</label>
          <input type="password" id="senha" class="form-control">
          <button class="btn btn-dark mt-3 btn-block">Cadastrar</button>
        </form>
        <div class="text-right mt-2 mr-2">Não possui conta? <a href="/cadastro">Cadastre-se</a></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Cadastro',
  data() {
    return {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
button {
  border-radius: 25px;
}
input {
  border-radius: 25px;
}
.card {
  border-radius: 15px;
}
</style>
