<template>
  <div class="container">
    <img class="mx-auto d-block" alt="Vue logo" src="../assets/logo.jpg">
    <div class="card">
      <div class="card-body">        
        <a href="/cadastro"><button class="btn btn-dark mt-3 btn-block">Tela Cadastrar (Habbiner)</button></a>
        <a href="/cadastro_login"><button class="btn btn-dark mt-3 btn-block">Tela Login Cadastro (Luciano)</button></a>
        <a href="/login"><button class="btn btn-dark mt-3 btn-block">Tela Login (Habbiner)</button></a>
        <a href="javascript:"><button class="btn btn-dark mt-3 btn-block">Tela Home APP (Lista Barbeiros)</button></a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
button {
  border-radius: 25px;
}
input {
  border-radius: 25px;
}
.card {
  border-radius: 15px;
}
</style>
